* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    width: 500px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fefefe;
}

.form-header {
    margin-bottom: 20px;
}

.form-header__title {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-header__description {
    font-size: 14px;
}

.form-fields__input-wrapper {
    margin-bottom: 25px;
}

.form-fields__input-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-fields__input-text {
    width: 100%;
    padding: 5px 2px;
    border: 1px solid #dddddd;
}

.form-fields__input-number {
    padding: 5px 2px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.form-fields__radio-group {
    margin-bottom: 25px;
}

.form-fields__choices-wrapper {
    padding: 10px;
    border: 1px solid #dddddd;
}

.form-fields__field-wrapper {
    margin-bottom: 10px;
    position: relative;
    padding-right: 20px;
}

.form-fields__radio-button {
    margin-right: 10px;
}

.form-fields__radio-group .form-fields__input-text {
    width: 93%;
}

.form-fields__clear-icon {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/cross.svg");
    cursor: pointer;
}

.form-fields__checkbox-span {
    padding-left: 10px;
}

.form-footer {
    padding: 25px 0;
}

.form-footer__submit-btn {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0085ba;
    border: none;
    cursor: pointer;
}