.main-container {
    margin: 0;
}

.main-container__datepicker {
    width: 400px;
    margin: 20px;
}

.datepicker__input-wrapper {
    margin-bottom: 20px;
    font-size: 0;
}

.datepicker__input-field {
    display: inline-block;
    vertical-align: top;
}

.datepicker__date-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
}

.datepicker__date-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
}

.datepicker__date-input--invalid {
    outline: 2px solid red;
}

.datepicker__action-button {
    display: inline-block;
    vertical-align: top;
}

.calendar {
    display: table;
    width: 100%;
}

.calendar__title {
    display: table-row;
    height: 40px;

}

.calendar__table {
    display: table;
    width: 100%;
}

.calendar__row-header {
    display: table-row;
    height: 40px;
}

.calendar__cell-header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.calendar__row {
    display: table-row;
    height: 40px;
}

.calendar__cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.calendar__cell--active {
    background-color: lightgreen;
}

