.button {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 23px;
    color: rgb(255, 255, 255);
    padding: 16px 40px;
    background-color: rgb(92, 184, 92);
    border: none;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}

.button:active,
.button:focus {
    outline: 0;
}

.button:hover {
    background-color: rgb(68, 157, 68);
}

.button--red {
    background-color: rgb(217, 83, 79);
}

.button--red:hover {
    background-color: rgb(201, 48, 44);
}

.button--blue {
    background-color: rgb(2, 117, 216);
}

.button--blue:hover {
    background-color: rgb(1, 84, 155);
}

.button--size-small {
    font-size: 20px;
    padding: 15px;
}