.contact-section {
    display: flex;
    background-image: url("../images/tm-sigma-00.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section__info-block-full-width {
    margin: auto;
    width: 80%;
}