.feedback-form {
    font-family: "Open sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.feedback-form__user-info-section {
    flex: auto;
    width: 400px;
    padding: 20px;
}

.feedback-form__message-section {
    flex: auto;
    width: 400px;
    padding: 20px;
}

.feedback-form__address-section {
    flex: auto;
    width: 400px;
   padding: 60px 40px 20px;
}

.feedback-form__input-field-text {
    margin-bottom: 30px;
}

.feedback-form__input-field-textarea {
    margin-bottom: 30px;
}

.feedback-form__input-field-checkbox {
     margin-bottom: 20px;
}

.feedback-form__note-with-icon {
    margin-bottom: 40px;
}

.feedback-form__note-with-icon--no-margin-bottom {
    margin-bottom: 0;
}