.header-main {
    display: flex;
    font-family: "Open sans", sans-serif;
    font-size: 48px;
    text-align: center;
    background-image: url("../images/tm-sigma-00.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 991px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .header-main {
        font-size: 40px;
    } 
}

@media screen and (max-width: 767px) and (min-width: 541px) {
    .header-main {
        font-size: 40px;
    } 
}

@media screen and (max-width: 540px) {
    .header-main {
        font-size: 34px;
    } 
}

.header-main__wrapper {
    margin: auto;
    width: 45%;
}

@media only screen and (min-width: 991px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .header-main__wrapper {
        width: 70%;
    } 
}

@media screen and (max-width: 767px) and (min-width: 541px) {
    .header-main__wrapper {
        width: 70%;
    } 
}

@media screen and (max-width: 540px) {
    .header-main__wrapper {
        width: 90%;
    } 
}

.header-main__header {
    font-size: 1em;
    font-weight: 500;
    color: rgb(55, 58, 60);
    margin: 0 0 20px 0;
}

.header-main__text {
    font-size: 0.5em;
    font-weight: normal;
    color: rgb(85, 85, 85);
    line-height: 2;
    margin: 0 0 20px 0;
}

.header-main__button-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-main__button {
    margin: 12px;
}