.image-gallery__item {
    display: block;
    float: left;
    background-color: rgb(255, 255, 255);
    padding: 0 1px 1px 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 991px) {
    .image-gallery__item--standart-size-on-desktop {
         width: 33.33%;
    }

    .image-gallery__item--double-size-on-desktop {
         width: 66.66%;
    }

    .image-gallery__item--medium-size-on-desktop {
         width: 50%;
    }

    .image-gallery__item--small-size-on-desktop {
         width: 25%;
    }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .image-gallery__item--medium-size-on-tablet {
         width: 50%;
    }

    .image-gallery__item--double-size-on-tablet {
        width: 66.66%;
    }

    .image-gallery__item--standart-size-on-tablet {
        width: 33.33%;
    }

    .image-gallery__item--big-size-on-tablet {
        width: 100%;
    }
}

@media screen and (max-width: 767px) and (min-width: 541px) {
    .image-gallery__item--medium-size-on-tablet-portrait {
        width: 50%;
    }

    .image-gallery__item--big-size-on-tablet-portrait {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .image-gallery__item--big-size-on-phone {
        width: 100%;
    }
}

.image-gallery__image {
    display: block;
    width: 100%;
    height: auto;
}

.image-gallery__clear-fix {
    clear: both;
}