.info-block-full-width {
    font-family: "Open sans", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    color: rgb(55, 58, 60);
}

.info-block-full-width__block-header {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0 0 1em 0;
}

.info-block-full-width__content-text {
    margin: 0;
    font-size: 0.6em;
    font-weight: normal;
    line-height: 2;
}

.info-block-full-width__content-text-link {
    text-decoration: none;
    color: rgb(2, 117, 216);
}

.info-block-full-width__content-text-link:hover {
    text-decoration: underline;
    color: rgb(1, 76, 140);
}