.info-block-with-icon {
    font-family: "Open sans", sans-serif;
    font-size: 70px;
    color: rgb(55, 58, 60);
    text-align: center;
    background-color: rgb(228, 232, 232);
}

.info-block-with-icon--text-color-white {
    color: rgb(255, 255, 255);
}

.info-block-with-icon--background-gray {
    background-color: rgb(153, 153, 153);
}

.info-block-with-icon--background-dark-gray {
    background-color: rgb(102, 102, 102);
}

.info-block-with-icon--background-black {
    background-color: rgb(68, 68, 68);
}

.info-block-with-icon__icon {
    margin: 0;
    font-size: 1em;
}

.info-block-with-icon__block-header {
    margin: 0;
    font-size: 0.5em;
    font-weight: normal;
}

.info-block-with-icon__description-text {
    margin: 0;
    padding-top: 1em;
    font-size: 0.25em;
    font-weight: normal;
    line-height: 2;
}