.info-block-simple {
    font-family: "Open sans", sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: rgb(55, 58, 60);
    text-align: left;
    background-color: rgb(228, 232, 232);
}

.info-block-simple--text-color-white {
    color: rgb(255, 255, 255);
}

.info-block-simple--background-gray {
    background-color: rgb(153, 153, 153);
}

.info-block-simple--background-dark-gray {
    background-color: rgb(102, 102, 102);
}

.info-block-simple--background-black {
    background-color: rgb(68, 68, 68);
}

.info-block-simple--background-copper {
    background-color: rgb(170, 85, 34);
}

.info-block-simple--background-azure {
    background-color: rgb(34, 136, 187);
}

.info-block-simple--background-green {
    background-color: rgb(68, 153, 102);
}

.info-block-simple--background-olive {
    background-color: rgb(164, 164, 48);
}

.info-block-simple--background-transparent {
    background-color: transparent;
}

.info-block-simple__block-header {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

.info-block-simple__content-text {
    padding-top: 1em;
    font-size: 0.6em;
    font-weight: normal;
    line-height: 2;
    margin: 0 0 1em 0;
}