.info-block-with-button {
    font-family: "Open sans", sans-serif;
    color: rgb(55, 58, 60);
    text-align: left;
    background-color: rgb(238, 187, 238);
}

.info-block-with-button--background-lightblue {
     background-color: rgb(146, 196, 248);
}

.info-block-with-button__button-container {
    padding-top: 10px;
}