.input-field-select {
    font-family: "Open sans", sans-serif;
}

.input-field-select__label {
    display: block;
    font-weight: normal;
    font-size: 20px;
    color: rgb(55, 58, 60);
    text-align: left;
    margin-bottom: 20px;
}

.input-field-select__select {
    display: block;
    box-sizing : border-box;
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgb(85, 89, 92);
    padding: 8px 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

.input-field-select__select:focus {
    border-color: rgb(102, 175, 233);
    outline: 0;
}