.input-field-checkbox {
    font-family: "Open sans", sans-serif;
}

.input-field-checkbox__label-text {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: rgb(55, 58, 60);
    cursor: pointer;
}