.items-row-4 {
    display: flex;
    flex-wrap: wrap;
}

.items-row-4__item {
    flex: auto;
    width: 300px;
    padding: 60px 40px;
    box-sizing: border-box;
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}