.logo {
    font-family: "Open sans", sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.logo__logo-header {
    margin: 0 0 20px 0;
}

.logo__logo-text {
    margin: 0;
    font-size: 0.5em;
    font-weight: 400;
    color: rgb(136, 136, 136);
}