.nav-menu {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.nav-menu__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu__menu-item {
    padding: 10px;
}

@media only screen and (min-width: 991px) {
    .nav-menu__menu-item {
        padding: 25px;
    } 
}

@media screen and (max-width: 990px) and (min-width: 768px) {

}

@media screen and (max-width: 767px) and (min-width: 541px) {

}

@media screen and (max-width: 540px) {

}

.nav-menu__menu-link {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
    color: rgba(0,0,0,.3);
}

.nav-menu__menu-link:hover,
.nav-menu__menu-link:focus,
.nav-menu__menu-link:active {
    color: rgba(0,0,0,.6);
}