.note-with-icon {
    font-family: "Open sans", sans-serif;
    font-size: 32px;
     font-weight: normal;
}

.note-with-icon__icon {
    font-size: 1em;
    color: rgb(55, 58, 60);
    padding: 0 20px 0 0;
}

.note-with-icon__note {
    font-size: 0.6em;
    color: rgb(55, 58, 60);
}