.page-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding-top: 40px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.page-footer__copyright {
    color: rgb(55, 58, 60);
}

.page-footer__go-top-link {
    text-decoration: none;
    color: rgb(2, 117, 216);
}

.page-footer__go-top-link:hover {
    text-decoration: underline;
    color: rgb(1, 76, 140);
}

