.submit-button {
    font-family: "Open sans", sans-serif;
    border: none;
    background-color: rgb(92, 184, 92);
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    outline: 0;
    background-color: rgb(57, 132, 57);
}

.submit-button:active,
.submit-button:focus {
    outline: 0;
}

.submit-button__text {
    font-weight: normal;
    font-size: 24px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}