.page {
    margin: 0;
}

.page__viewport {
    min-height: 100vh;
    position: relative;
}

.viewport__darggable-el-1 {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.viewport__darggable-el-2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.viewport__darggable-el-3 {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.darggable-el {
    background-color: lightblue;
    cursor: move;
}

.darggable-el__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 100px;
    cursor: move;
}

.darggable-el__title::selection {
    color: black;
    background: transparent;
}

.dropbox {
    background-color: lightgreen;
    z-index: -1;
}

.viewport__dropbox-1 {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.viewport__dropbox-2 {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.viewport__dropbox-3 {
    position: absolute;
    right: 65%;
    top: 65%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.dropbox__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 200px;
}

.dropbox__title::selection {
    color: black;
    background: transparent;
}