* {
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    background-color: #fafafa;
    width: 400px;
    padding: 10px;
}

.small {
    font-size: 14px;
    color: #a3a3a3;
}

.red {
    color: red;
}

.header {
    border-bottom: 1px solid #efefef;
}

.content-table {
    width: 100%;
    border-spacing: 10px;
}

.bottom-border-red {
    border-bottom: 2px solid red;
}

.button-container {
    text-align: right;
}

.success {
    width: 80px;
    height: auto;
}