* {
    letter-spacing: 10px;
    line-height: 3rem;
}

html {
    font-size: 20px;
    background-color: rgba(100, 100, 100, 0.3);
    text-align: center;
}

div:nth-child(odd) {
    color: blue;
    font-size: 2em;
}

div:nth-child(even) {
    color: red;
}

/*div:nth-child(1), div:nth-child(2), div:nth-child(3) {
  text-transform: uppercase;
}*/

/*Another way*/
div:nth-child(-n+3) {
    text-transform: uppercase;
}

.four + div {
    text-transform: lowercase;    
}