/*Fonts*/
@font-face {
  font-family: 'SeaweedScript-Regular';
  src: url('../fonts/SeaweedScript-Regular.eot');
  src: url('../fonts/SeaweedScript-Regular.woff2') format('woff2'),
       url('../fonts/SeaweedScript-Regular.woff') format('woff'),
       url('../fonts/SeaweedScript-Regular.ttf') format('truetype'),
       url('../fonts/SeaweedScript-Regular.svg#SeaweedScript-Regular') format('svg'),
       url('../fonts/SeaweedScript-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Reset*/
*{
    padding:0;
    margin:0;
    font-size: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

/*Header*/
header {
    height: 400px;
    position: relative;
    background: url("../img/icons.jpg") repeat-x center;
}

.header-title {
    display: table;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 110px;
    background-color: #fff;
    padding: 10px;
    opacity: 0.9;
}

.header-title-h1 {
    display: table-cell;
    font-family: SeaweedScript-Regular, serif;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #000;
}

/*Sections*/
section {
    padding: 15px;
}

.section-first-inner {
    border: 1px solid #eaeaea;
    padding: 40px 60px;
}

.section-second-inner {
    background-color: #333333;
    padding: 40px 60px;
}

.list-item {
    margin-bottom: 20px;
}

.list-item:last-child {
    margin-bottom: 0;
}

.button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 7px;
    padding: 0 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    vertical-align: bottom;
    text-align: center;
}

.buttons-list-second .button {
    vertical-align: baseline;
}

.pink {
    font-size: 35px;
    height: 55px;
    line-height: 55px;
    background: #e956ab; /* Old browsers */
    background: -moz-linear-gradient(top, #e956ab 0%, #e52094 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e956ab 0%,#e52094 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e956ab 0%,#e52094 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e956ab', endColorstr='#e52094',GradientType=0 ); /* IE6-9 */
}

.green {
    background: #a7cb39; /* Old browsers */
    background: -moz-linear-gradient(top, #a7cb39 0%, #9cc423 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a7cb39 0%,#9cc423 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a7cb39 0%,#9cc423 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cb39', endColorstr='#9cc423',GradientType=0 ); /* IE6-9 */
}

.blue {
    background: #5d9ee9; /* Old browsers */
    background: -moz-linear-gradient(top, #5d9ee9 0%, #418fe7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5d9ee9 0%,#418fe7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5d9ee9 0%,#418fe7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d9ee9', endColorstr='#418fe7',GradientType=0 ); /* IE6-9 */
}

.buttons-list-second .blue {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.red {
    background: #ea4949; /* Old browsers */
    background: -moz-linear-gradient(top, #ea4949 1%, #eb3d3d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ea4949 1%,#eb3d3d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ea4949 1%,#eb3d3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4949', endColorstr='#eb3d3d',GradientType=0 ); /* IE6-9 */
}

.orange {
    background: #ff823e; /* Old browsers */
    background: -moz-linear-gradient(top, #ff823e 0%, #ff6e1a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff823e 0%,#ff6e1a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff823e 0%,#ff6e1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff823e', endColorstr='#ff6e1a',GradientType=0 ); /* IE6-9 */
}

.buttons-list-second .orange {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.yellow {
    background: #ffc74c; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc74c 0%, #ffc74c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffc74c 0%,#ffc74c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffc74c 0%,#ffc74c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc74c', endColorstr='#ffc74c',GradientType=0 ); /* IE6-9 */
}

.buttons-list-second .yellow {
    height: 27px;
    line-height: 27px;
    font-size: 13px;
}

.shadow {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}


